<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">

</nav>

<div class="header bg-gradient-blue pb-8 pt-5 pt-md-7">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0" style="min-height: 122px;">
            <div class="card-body">
              <div class="row">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0" style="min-height: 122px;">
            <div class="card-body">
              <div class="row">

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0" style="min-height: 122px;">
            <div class="card-body">
              <div class="row">

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0" style="min-height: 122px;">
            <div class="card-body">
              <div class="row">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow" style="min-height: 420px;">
        <div class="card-header border-0" style="padding: 1.25rem 1.85rem 0.25rem 1.85rem">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Interactions by hour</h6>
              <h2 class="mb-0">What time should I tweet?</h2>
            </div>
          </div>
        </div>
    
        <div class="card-body"  style="min-height: 18.6rem;">
        
        </div>
      </div>
    </div>
  </div>
</div>