.stripe-demo {
    background-color: #F95F41;
    position: fixed;
    height: 23px;
    width: 100%;
    text-align: center;
    top: -4px;
    z-index: 10000;
}

.text-stripe-demo {
    font-size: 0.7em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}