.stripe-demo {
    background-color: #F95F41;
    position: fixed;
    height: 26px;
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 10000;
}

.text-stripe-demo {
    font-size: 14px;
    color: white;
    font-weight: bold;
}